name: Build VM Disk Image

on:
  push:
    branches: '*'
    tags: 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: ubuntu:22.10
    strategy:
        fail-fast: false
        matrix:
          version:
            - '12.2'
            - '12.4'
            - '13.0'
            - '13.1'
            - '13.2'

          architecture:
            - x86-64

    steps:
      - name: Clone Repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: apt update && apt install curl unzip "qemu-system-$QEMU_ARCHITECTURE" -y
        env:
          QEMU_ARCHITECTURE: ${{
              matrix.architecture == 'x86-64' && 'x86' ||
              matrix.architecture == 'arm64' && 'aarch64' ||
              matrix.architecture
            }}

      - uses: hashicorp/setup-packer@main
        with:
          version: "1.7.1"

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: Build Image
        run: PACKER_LOG=1 ./build.sh '${{ matrix.version }}' '${{ matrix.architecture }}' -var 'headless=true'

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          name: FreeBSD ${{ steps.version.outputs.VERSION }}
          draft: true
          files: output/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
